body {
  background-color: black;
  color: white;
  padding: 3rem;
}

.main-title,
.main-subtitle {
  text-align: center;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  gap: 2rem;
}

ul a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  aspect-ratio: 1 / 1;
  margin-top: 5px;
}
